/*.log
.shadow-cljs
/target
/*-init.clj
/resources/public/js/compiled
out
/.nrepl-port
/resources/public/js
/src/devcards/.DS_Store
/src/.DS_Store
/resources/public/.DS_Store
/resources/.DS_Store
/gifs/.DS_Store
/*.mov
*.mov
/*.css
/*.css
/resources/public/css/autocomplete.css
/resources/public/css/normalize.css
*.css
/resources/public/js/.DS_Store
/node_modules/
